@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<ol>
    <li>Uploaded images are kept on the server, and therefore the website host and admin is able to see them.</li>
    <li>Unfortunately there is no way to make prevent this. If you have problems with that, self-host.</li>
    <li>User issuing the "Delete image" action removes the image permanently and all of its associated data</li>
</ol>